.section-page-banner {
  background-color: $color-3;
  @include bg();
  &.vertical-align .container-box {
    vertical-align: bottom;
  }
  .container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .banner-title,
  .content {
    max-width: 720px;
    margin-top: 14px;
    margin-bottom: 1px;
  }
  a {
    color: $color-0;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.section-why-we {
  .content {
    padding-bottom: 115px;
    margin-bottom: 108px;
    font: $font-sm-body;
    border-bottom: 1px solid $color-7;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &.lrg-body-text .content {
    font: $font-lrg-body;
  }
}

.section-accreditations {
  text-align: center;
  .content {
    max-width: 910px;
    margin: 0 auto;
  }
}

.section-program-disclosure {
  padding-bottom: 100px;
  .container {
    > .content {
      margin-bottom: 60px;
    }
  }
}
  .program-disclosure-list {
    overflow: hidden;
    > li {
      float: left;
    }
  }
      .disclosure-left {
        margin-right: $margin-coll-1;
      }
      .disclosure-right {
        padding-left: 24px;
      }
    .box-title {
      margin-bottom: 20px;
      font: $font-h3;
      letter-spacing: $letter-spacing-200;
      text-transform: uppercase;
    }
    a.link-details {
      display: inline-block;
      color: $color-2;
      vertical-align: middle;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
      i {
        margin-top: -3px;
        margin-left: 3px;
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .disclosure {
      margin-bottom: 62px;
      .box-title {
        color: $color-9;
      }
      .content {
        margin-bottom: 32px;
        font: $font-sm-body;
      }
      a.link-details {
        margin-top: 1px;
      }
    }
    .magento-style {
      .box-title {
        color: $color-2;
      }
    }