.section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.section-banner {
}
  .swiper-container {
    width: 100%;
    height: 100%;
  }
    .swiper-slide {
      @include bg();
      .btn-banner {
        margin-top: 60px;
      }
      .container-box {
        padding-left: 120px;
      }
    }
        .banner-title {
          max-width: 700px;
          font-size: 2em;
          color: $color-0;
          text-transform: uppercase;
          letter-spacing: 13px;
        }
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
  @include transition($transition-other);
  &:hover {
    background-color: #fff;
    opacity: 0.3;
  }
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  background-color: #fff;
  opacity: 1;
}
.section-welcome {
  .content {
    max-width: 840px;
  }
}
  .section-title {
    margin-bottom: 21px;
    font-size: 1.5em;
    color: $color-5;
    line-height: 1.45;
    letter-spacing: 6px;
    text-transform: uppercase;
    .vertical-align & {
      color: $color-0;
    }
  }

.section-cosmo-is {
  text-align: center;
  @include bg();
  .container {
    min-height: 635px;
  }
  .content {
    max-width: 910px;
    margin: 0 auto;
  }
}

.section-testimonial {
  text-align: center;
  .section-title {
    margin-bottom: 50px;
  }
}

.section-cosmo-courses {
  padding-top: 206px;
  padding-bottom: 240px;
  .btn-big {
    margin-top: 76px;
  }
  .content {
    max-width: 900px;
  }
}

.section-more-info {
  text-align: center;
  .content {
    max-width: 860px;
    margin: 0 auto;
  }
}