.section-services {
  padding-bottom: 60px;
}
.services-description {
  margin-bottom: 122px;
  padding-bottom: 125px;
  border-bottom: 1px solid $color-7;
  .content {
    max-width: 840px;
    margin-top: 20px;
    color: $color-3;
  }
}
  .services-title {
    margin-bottom: 36px;
    font: $font-h1;
    line-height: 1;
    letter-spacing: $letter-spacing-250;
    color: $color-3;
    text-transform: uppercase;
  }

.services-list {
  margin-top: 68px;
  margin-bottom: 75px;
  -webkit-columns: 440px 2;
  -moz-columns: 440px 2;
  columns: 440px 2;
  -webkit-column-gap: 150px;
  -moz-column-gap: 150px;
  column-gap: 150px;
  text-align: left;
  > li {
    width: 100%;
    vertical-align: top;
    padding-top: 18px;
    padding-bottom: 25px;
    border-top: 1px solid $color-7;
    display: inline-block;
  }
}
.services-box {
  margin-bottom: 18px;
  .content {
    padding-right: 40px;
    clear: both;
  }
}
  .services-right-box {
    float: right;
    max-width: 40%;
    padding-left: 10px;
    text-align: right;
  }
  .services-left-box {
    overflow: hidden;
  }
  .services-box-title {
    overflow: hidden;
    font: $font-h4-myriad;
    margin-bottom: 10px;
  }