/*fonts*/
/*colors*/
/*backgrounds*/
/*transition*/
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 16px/1.3 "Lato", Arial, sans-serif;
  background: #ffffff;
  color: #969dac;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  font-size: 16px;
  vertical-align: middle;
  color: #131617; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  font-family: "Lato", Arial, sans-serif;
  color: #222426;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a, .btn, button, input[type=submit] {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

.container {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px; }

.vertical-align .container {
  display: table;
  width: 100%;
  min-height: 500px;
  padding: 15px 25px 15px; }
.vertical-align .container-box {
  display: table-cell;
  width: 100%;
  min-height: 300px;
  vertical-align: middle; }

.dark-blue-style .section-title,
.dark-blue-style .box-title,
.dark-blue-style .change,
.dark-blue-style .content,
.blue-style .section-title,
.blue-style .box-title,
.blue-style .change,
.blue-style .content,
.light-blue-style .section-title,
.light-blue-style .box-title,
.light-blue-style .change,
.light-blue-style .content {
  color: #ffffff; }

.dark-blue-style {
  background-color: #16365a; }

.blue-style {
  background-color: #3b4880; }

.light-blue-style {
  background-color: #0087a0; }

.content {
  font: 20px/34px "Lato", Arial, sans-serif; }
  .vertical-align .content {
    color: #ffffff; }
  .content * {
    margin-bottom: 12px; }
    .content *:last-child {
      margin-bottom: 0; }
  .content a {
    color: #ff7f86; }
    .content a:hover {
      opacity: 0.7;
      text-decoration: none; }
  .content h3 {
    font: 22px/32px "Lato", Arial, sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
  .content h4 {
    margin-bottom: 20px;
    font: 16px/24px "Lato", Arial, sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
  .content ul, .content ol {
    margin-left: 30px;
    margin-bottom: 20px; }
  .content ul > li {
    list-style-type: disc; }
  .content ol > li {
    list-style-type: decimal; }
  .content li {
    margin-bottom: 10px; }
  .content li, .content blockquote {
    text-align: left; }
  .content blockquote {
    max-width: 800px;
    margin: 20px auto 0;
    padding-top: 60px;
    text-align: center;
    background-image: url("../../img/qute.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 32px 26px; }
  .content img {
    max-width: 100%;
    height: auto; }
    .content img.alignleft {
      float: left;
      margin: 4px 12px 12px 0; }
    .content img.alignright {
      float: right;
      margin: 4px 0 12px 12px; }
    .content img.aligncenter {
      display: block;
      margin: 0 auto 12px;
      clear: both; }
  .content em, .content i {
    font-style: italic !important; }
  .footer-block .content {
    color: #ffffff;
    font: 16px/30px "Lato", Arial, sans-serif; }
    .footer-block .content * {
      margin-bottom: 0; }
      .footer-block .content *:last-child {
        margin-bottom: 0; }
    .footer-block .content a {
      color: #ffffff; }
  .form-block .content {
    font: 16px/30px "Lato", Arial, sans-serif; }
    .form-block .content *:last-child {
      margin-bottom: 0; }
    .inverse .form-block .content {
      color: #ffffff; }
  .services-box .content {
    font: 14px/26px "Lato", Arial, sans-serif; }
  .section-why-we .section-description .content, .section-description .content {
    font: 20px/34px "Lato", Arial, sans-serif; }

.coll-8 {
  width: 66.66667%; }

.coll-6 {
  width: 50%; }

.coll-4 {
  width: 33.33333%; }

.coll-3 {
  width: 25%; }

.coll-2 {
  width: 16.66667%;
  margin: 0 8.33333%; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  position: relative;
  min-height: 100%;
  padding-top: 100px;
  margin-bottom: -686px; }
  .wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 686px; }

.wrap-404 {
  text-align: center;
  padding: 10px 0 40px;
  color: #cf3477;
  font-size: 68px;
  letter-spacing: 0; }
  .wrap-404 .error-404 {
    display: block;
    margin-bottom: -26px;
    font-size: 200px;
    line-height: 1;
    font-weight: 700; }

.no-results {
  font-size: 1.2em;
  padding: 40px 0; }

/* fonts */
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MYRIADPROREGULAR.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MYRIADPROREGULAR.woff") format("opentype"), url("../fonts/MYRIADPROREGULAR.ttf") format("truetype"), url("../fonts/MYRIADPROREGULAR.svg#MYRIADPROREGULAR") format("svg");
  font-weight: normal;
  font-style: normal; }
a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 12px 16px 9px;
  font-size: 10px;
  letter-spacing: 0.2em;
  color: #cf3477;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #cf3477;
  background-color: transparent; }
  a.btn:hover, .btn:hover {
    color: #ffffff;
    background-color: #cf3477; }

a.btn-header, .btn-header {
  max-width: 200px;
  width: 100%; }

a.btn-big, .btn-big {
  min-width: 155px;
  font-size: 16px;
  padding: 13px 30px 13px;
  border-width: 2px; }

a.btn-magenta, .btn-magenta {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent; }
  a.btn-magenta:hover, .btn-magenta:hover {
    color: #cf3477;
    background-color: #ffffff; }

a.btn-blue, .btn-blue {
  border-width: 1px;
  color: #0087a0;
  border-color: #0087a0;
  background-color: transparent; }
  a.btn-blue:hover, .btn-blue:hover {
    color: #ffffff;
    background-color: #0087a0; }
  .inverse a.btn-blue, .inverse .btn-blue {
    color: #ffffff;
    border-color: #ffffff; }
    .inverse a.btn-blue:hover, .inverse .btn-blue:hover {
      color: #16365a;
      background-color: #ffffff; }

.input-style {
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #969dac;
  box-shadow: none;
  font: 16px/30px "Lato", Arial, sans-serif;
  letter-spacing: 0.02em;
  color: #808691;
  padding: 5px 12px;
  background-color: transparent;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .input-style:hover, .input-style:active, .input-style:focus {
    border-color: #808691; }
  .inverse .input-style {
    color: #ffffff;
    border-color: #ffffff; }
  .input-style.wpcf7-not-valid, .input-style.error {
    border-color: #ff0000; }

.input-style.error + .error {
  position: absolute;
  left: 0;
  width: 280px;
  color: #ff0000;
  line-height: 1.2; }

span.wpcf7-not-valid-tip,
.input-style.error + .error {
  font-size: 0.9em; }

.wpcf7-form #email-error {
  display: none !important; }

div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  text-align: center;
  color: #222426; }
  .inverse div.wpcf7-response-output {
    color: #ffffff; }

.search-style {
  max-width: 265px;
  padding-left: 45px; }
  .search-style:active, .search-style:focus {
    max-width: 100%; }

.search-box {
  vertical-align: middle;
  white-space: nowrap;
  position: relative; }
  .search-box .icon {
    position: absolute;
    height: 40px;
    width: 45px;
    top: 50%;
    margin-left: 1px;
    margin-top: -20px;
    z-index: 1;
    color: #0087a0;
    cursor: pointer;
    background-color: transparent;
    border: transparent; }
    .search-box .icon:hover {
      color: #cf3477; }
  .search-box .fa-search {
    font-size: 26px; }

input[type=button], input[type=submit], button {
  -webkit-appearance: none;
  -moz-appearance: none; }

input.input-style,
input.TextField {
  height: 32px;
  line-height: 32px; }

input.search-style {
  height: 42px;
  line-height: 42px; }

textarea.input-style {
  font: 16px/30px "Lato", Arial, sans-serif;
  line-height: 26px;
  letter-spacing: 0.02em;
  padding: 5px 12px;
  width: 100%;
  min-height: 200px;
  resize: none;
  border: 1px solid #969dac;
  color: #808691; }
  .inverse textarea.input-style {
    color: #ffffff;
    border-color: #ffffff; }

input::-webkit-input-placeholder {
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse input::-webkit-input-placeholder {
    color: #cccccc; }

input::-moz-placeholder {
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

input:-ms-input-placeholder {
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse input:-ms-input-placeholder {
    color: #cccccc; }

input:-moz-placeholder {
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

textarea::-webkit-input-placeholder {
  font-family: "Lato", Arial, sans-serif;
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse textarea::-webkit-input-placeholder {
    color: #cccccc; }

textarea::-moz-placeholder {
  font-family: "Lato", Arial, sans-serif;
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse textarea::-moz-placeholder {
    color: #cccccc; }

textarea:-ms-input-placeholder {
  font-family: "Lato", Arial, sans-serif;
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse textarea:-ms-input-placeholder {
    color: #cccccc; }

textarea:-moz-placeholder {
  font-family: "Lato", Arial, sans-serif;
  color: #b7bac0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .inverse textarea:-moz-placeholder {
    color: #cccccc; }

.check-style input[type=radio],
.check-style input[type=checkbox],
.radio-style input[type=radio],
.radio-style input[type=checkbox],
.wpcf7-checkbox.check-list input[type=radio],
.wpcf7-checkbox.check-list input[type=checkbox],
.wpcf7-radio.check-list input[type=radio],
.wpcf7-radio.check-list input[type=checkbox] {
  display: none; }

.check-style span,
.radio-style span,
.wpcf7-checkbox.check-list .wpcf7-list-item-label,
.wpcf7-radio.check-list .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  line-height: 1.3; }
  .inverse .check-style span, .inverse
  .radio-style span, .inverse
  .wpcf7-checkbox.check-list .wpcf7-list-item-label, .inverse
  .wpcf7-radio.check-list .wpcf7-list-item-label {
    color: #ffffff; }

.check-style span:before,
.wpcf7-checkbox.check-list .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #969dac;
  cursor: pointer;
  color: #808691;
  font: normal normal normal 15px/16px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: #ffffff; }
  .inverse .check-style span:before, .inverse
  .wpcf7-checkbox.check-list .wpcf7-list-item-label:before {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent; }

.check-style input[type=checkbox]:checked + span:after,
.wpcf7-checkbox.check-list input[type=checkbox]:checked + .wpcf7-list-item-label:after {
  position: absolute;
  font-family: "Lato", Arial, sans-serif;
  content: "\2715";
  font-size: 23px;
  line-height: 15px;
  left: 0;
  top: 2px; }

.radio-style span:before,
.wpcf7-radio.check-list .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #969dac;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  color: #808691;
  font: normal normal normal 14px/16px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: #ffffff;
  letter-spacing: 1px; }
  .inverse .radio-style span:before, .inverse
  .wpcf7-radio.check-list .wpcf7-list-item-label:before {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent; }

.radio-style input[type=radio]:checked + span:after,
.wpcf7-radio.check-list input[type=radio]:checked + .wpcf7-list-item-label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #808691;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .inverse .radio-style input[type=radio]:checked + span:after, .inverse
  .wpcf7-radio.check-list input[type=radio]:checked + .wpcf7-list-item-label:after {
    color: #ffffff;
    background-color: #ffffff; }

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1); }
  .header:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .header .container {
    position: relative; }
  .admin-bar .header {
    top: 32px; }

.logo {
  overflow: hidden;
  float: left;
  max-width: 133px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .logo img {
    max-width: 100%;
    max-height: 100%; }

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none; }

.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 75px;
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s; }
  .admin-bar .mobile-menu-wrap {
    top: 108px; }
  .mobile-menu-wrap.showing {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s; }
  .showing .mobile-menu-overlay {
    opacity: 1; }

.mobile-menu-box {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 2;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: right 0.35s;
  -moz-transition: right 0.35s;
  -o-transition: right 0.35s;
  transition: right 0.35s;
  overflow: auto; }
  .showing .mobile-menu-box {
    right: 0; }

.mobile-menu-toggle {
  position: absolute;
  right: 0;
  top: -21px;
  height: 75px;
  width: 75px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 1px;
    width: 30px;
    background-color: #222426;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
  .mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .mobile-menu-toggle span:before {
    top: -9px; }
  .mobile-menu-toggle span:after {
    bottom: -9px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
  .mobile-menu-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0; }
  .mobile-menu-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0; }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav > ul {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center; }
  .main-nav > ul > li {
    position: relative;
    display: inline-block;
    margin: 8px 12px 0;
    text-align: center;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .main-nav > ul > li a {
      position: relative;
      display: inline-block;
      padding: 5px 0;
      font: 10px/12px "Lato", Arial, sans-serif;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #222426; }
      .main-nav > ul > li a:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        left: -1px;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: 0.2s;
        -khtml-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
.main-nav a:hover,
.main-nav .current-menu-item > a,
.main-nav .current-menu-ancestor > a {
  text-decoration: none; }
  .main-nav a:hover:after,
  .main-nav .current-menu-item > a:after,
  .main-nav .current-menu-ancestor > a:after {
    background-color: #cf3477; }
.main-nav a:hover:after {
  opacity: 0.7; }

.mobile-menu {
  padding-bottom: 20px; }
  .mobile-menu > li {
    position: relative;
    display: block; }
    .mobile-menu > li a {
      position: relative;
      display: inline-block;
      font: 10px/12px "Lato", Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin: 10px 25px 8px;
      padding: 5px 0;
      color: #222426; }
      .mobile-menu > li a:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: -1px;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: 0.2s;
        -khtml-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
    .mobile-menu > li a:hover:after, .mobile-menu > li.current-menu-item > a:after {
      text-decoration: none;
      background-color: #cf3477; }
    .mobile-menu > li a:hover:after {
      opacity: 0.7; }
  .mobile-menu > .current-menu-item > a,
  .mobile-menu > li > a:hover {
    text-decoration: none; }
  .mobile-menu .expanded:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    margin-top: -8px;
    right: 10px;
    display: inline-block;
    color: #cf3477; }
  .mobile-menu:hover:after {
    color: #0097de; }
  .mobile-menu.open:after {
    content: "\f106"; }

.header-btn-box {
  overflow: hidden;
  float: right;
  margin-top: 2px; }

.main-nav .sub-menu {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -25px;
  min-width: 100%;
  padding: 10px 0;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.main-nav ul > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  margin: 0; }
.main-nav .sub-menu li {
  display: block;
  min-width: 250px; }
.main-nav .sub-menu a {
  display: inline-block;
  margin: 5px 20px 5px 25px;
  font: 10px/12px "Lato", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em; }
.main-nav .sub-menu a:hover,
.main-nav .sub-menu .current-menu-item a {
  text-decoration: none; }

.main-nav .sub-menu .sub-menu,
.mobile-menu .sub-menu .sub-menu {
  display: none; }

.mobile-menu .sub-menu {
  display: block;
  padding-left: 20px; }
  .mobile-menu .sub-menu a:hover {
    text-decoration: none; }
  .mobile-menu .sub-menu .sub-menu {
    padding-left: 45px; }

.footer {
  position: relative;
  z-index: 10;
  padding: 75px 0 72px;
  background-color: #808691; }

.footer-coll-list {
  overflow: hidden; }
  .footer-coll-list > li {
    float: left;
    padding: 0 5px; }
    .footer-coll-list > li:last-child {
      clear: right; }

.footer-menu {
  margin-top: -10px;
  margin-bottom: 36px; }
  .footer-menu > li > a {
    display: block;
    padding: 7px 0;
    font: 16px/24px "Lato", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff; }
    .footer-menu > li > a:hover {
      opacity: 0.7;
      text-decoration: none; }

.footer-block {
  margin-top: -8px;
  margin-bottom: 40px; }

.footer-block-title {
  margin-bottom: 14px;
  padding-top: 4px;
  font: 16px/24px "Lato", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase; }

.power-by,
.copyright {
  font-size: 12px;
  color: #ffffff; }
  .power-by a,
  .copyright a {
    color: #ffffff; }
    .power-by a:hover,
    .copyright a:hover {
      opacity: 0.7;
      text-decoration: none; }

/* styles used throughout site */
.section {
  padding-top: 112px;
  padding-bottom: 112px; }

.section-custom-menu-wrap .container {
  position: relative; }

.custom-menu-box {
  display: inline-block;
  position: absolute;
  z-index: 9;
  right: 25px;
  top: 25px; }

.custom-mob-menu-box {
  padding: 0 25px; }

.btn-group {
  display: inline-block;
  max-width: 200px; }
  .custom-mob-menu-box .btn-group {
    display: inline-block;
    margin-bottom: 40px; }

.drop-down-btn {
  position: relative;
  display: inline-block;
  min-width: 145px;
  padding: 0;
  padding-bottom: 5px;
  text-decoration: none;
  box-shadow: none;
  border: none;
  font: 12px "Lato", Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: default;
  background-color: transparent;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .custom-mob-menu-box .drop-down-btn {
    color: #222426; }
  .drop-down-btn .drop-down-label {
    position: relative;
    padding-bottom: 5px; }
    .drop-down-btn .drop-down-label:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0);
      -webkit-transition: 0.35s;
      -khtml-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
      .custom-mob-menu-box .drop-down-btn .drop-down-label:after {
        background-color: rgba(34, 36, 38, 0); }
  .drop-down-btn.active .drop-down-label:after {
    background-color: rgba(255, 255, 255, 0.7); }
    .custom-mob-menu-box .drop-down-btn.active .drop-down-label:after {
      background-color: rgba(34, 36, 38, 0.7); }

.drop-down-list {
  max-width: 270px;
  display: none; }
  .drop-down-list > li a, .drop-down-list > li span {
    font: 10px "Lato", Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer; }
    .drop-down-list > li a:hover, .drop-down-list > li span:hover {
      opacity: 0.7;
      text-decoration: none; }
    .custom-mob-menu-box .drop-down-list > li a, .custom-mob-menu-box .drop-down-list > li span {
      color: #222426; }

.social-list {
  float: right;
  display: inline-block;
  margin-bottom: 46px;
  margin-left: 40px; }
  .footer .social-list {
    margin-left: 0;
    float: none;
    display: block; }
  .custom-mob-menu-box .social-list {
    float: none;
    display: block;
    margin-left: 0; }
  .social-list > li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 16px;
    text-align: center;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer; }
    .custom-mob-menu-box .social-list > li {
      border-color: #222426; }
    .social-list > li:hover {
      opacity: 0.7; }
      .social-list > li:hover i {
        opacity: 0.7; }
    .social-list > li:first-child {
      margin-left: 0; }
  .social-list i {
    font-size: 16px;
    line-height: 29px;
    color: #fff;
    -webkit-transition: 0.2s;
    -khtml-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .custom-mob-menu-box .social-list i {
      color: #222426; }
    .social-list i .fa-facebook {
      font-size: 14px; }

.section-banner.vertical-align .container-box {
  vertical-align: bottom; }
.section-banner.vertical-align .container {
  padding: 60px 15px 80px; }
.section-banner.vertical-align .content {
  max-width: 650px; }
.section-banner a {
  color: #ffffff; }
  .section-banner a:hover {
    opacity: 0.7;
    text-decoration: none; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-color: #3b4880;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .swiper-slide .btn-big {
    margin-top: 64px; }
  .swiper-slide .container-box {
    padding-left: 10px;
    padding-right: 10px; }
  .swiper-slide .content {
    margin-top: 14px;
    margin-bottom: 1px; }

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px; }

.banner-title {
  max-width: 650px;
  font: 40px/52px "Lato", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.25em; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .swiper-pagination-bullet:hover {
    background-color: #fff;
    opacity: 0.7; }

.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover {
  background-color: #fff;
  opacity: 1; }

.section-welcome .content {
  max-width: 840px; }

.section-title {
  margin-bottom: 21px;
  font: 30px/44px "Lato", Arial, sans-serif;
  color: #0087a0;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
  .vertical-align .section-title {
    color: #ffffff; }

.section-cosmo-is {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a2245d; }
  .section-cosmo-is .container {
    min-height: 635px; }
  .section-cosmo-is .content {
    max-width: 910px;
    margin: 0 auto; }

.section-testimonial {
  text-align: center; }
  .section-testimonial .section-title {
    margin-bottom: 50px; }
  .section-testimonial .content {
    max-width: 910px;
    margin: 0 auto; }

.section-cosmo-courses {
  padding-top: 206px;
  padding-bottom: 240px; }
  .section-cosmo-courses .btn-big {
    margin-top: 76px; }
  .section-cosmo-courses .content {
    max-width: 900px; }

.section-more-info {
  text-align: center; }
  .section-more-info .content {
    max-width: 910px;
    margin: 0 auto; }

.section-connect {
  padding-top: 162px;
  padding-bottom: 220px; }

.form-block {
  max-width: 550px;
  margin: 0 auto; }
  .form-block .btn {
    margin-top: 50px; }

.form-box-title {
  margin-bottom: 10px;
  font: 22px/32px "Lato", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
  .inverse .form-box-title {
    color: #ffffff; }

.name-list {
  margin-bottom: 26px; }
  .name-list > li {
    margin-top: 16px; }

.check-list {
  display: block;
  margin-bottom: 20px;
  padding-top: 16px; }
  .check-list > li,
  .check-list > .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 20px;
    width: 32%; }

.interested {
  padding-top: 45px; }

.date-list {
  margin-bottom: 28px;
  padding-top: 12px; }
  .date-list > li {
    display: inline-block;
    width: 100%;
    max-width: 72px;
    margin-right: 20px; }
    .date-list > li:last-child {
      margin-right: 0; }

.filed-name-wrap {
  position: relative;
  display: inline-block; }

.filed-name {
  position: relative;
  display: inline-block;
  left: -100%;
  top: 28px;
  margin-right: 30px;
  font: 16px/24px "Lato", Arial, sans-serif;
  color: #222426;
  text-transform: uppercase;
  letter-spacing: 0.2em; }
  .inverse .filed-name {
    color: #ffffff; }

.form-label-name {
  display: block;
  margin-bottom: 6px;
  font: 16px/24px "Lato", Arial, sans-serif;
  color: #808691;
  font-style: italic; }
  .inverse .form-label-name {
    color: #ffffff; }

.name-list .filed-name {
  top: 40px; }

.textarea-box .filed-name {
  top: 18px; }

.modal-form {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #16365a; }
  .modal-form.open {
    overflow-y: scroll;
    display: block; }

.modal-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #16365a;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1); }
  .modal-header .container {
    overflow: hidden;
    position: relative; }

.close-modal {
  float: right;
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer; }
  .close-modal:after, .close-modal:before {
    position: absolute;
    content: '';
    width: 34px;
    height: 1px;
    top: 12px;
    left: -4px;
    background-color: #ffffff; }
  .close-modal:hover:after, .close-modal:hover:before {
    opacity: 0.7; }
  .close-modal:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close-modal:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.section-page-banner {
  background-color: #3b4880;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-page-banner.vertical-align .container-box {
    vertical-align: bottom; }
  .section-page-banner .container {
    padding-top: 60px;
    padding-bottom: 80px; }
  .section-page-banner .banner-title,
  .section-page-banner .content {
    max-width: 720px;
    margin-top: 14px;
    margin-bottom: 1px; }
  .section-page-banner a {
    color: #ffffff; }
    .section-page-banner a:hover {
      opacity: 0.7;
      text-decoration: none; }

.section-why-we .content {
  padding-bottom: 115px;
  margin-bottom: 108px;
  font: 16px/30px "Lato", Arial, sans-serif;
  border-bottom: 1px solid #969dac; }
  .section-why-we .content:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
.section-why-we.lrg-body-text .content {
  font: 20px/34px "Lato", Arial, sans-serif; }

.section-accreditations {
  text-align: center; }
  .section-accreditations .content {
    max-width: 910px;
    margin: 0 auto; }

.section-program-disclosure {
  padding-bottom: 100px; }
  .section-program-disclosure .container > .content {
    margin-bottom: 60px; }

.program-disclosure-list {
  overflow: hidden; }
  .program-disclosure-list > li {
    float: left; }

.disclosure-left {
  margin-right: 8.33333%; }

.disclosure-right {
  padding-left: 24px; }

.box-title {
  margin-bottom: 20px;
  font: 22px/32px "Lato", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

a.link-details {
  display: inline-block;
  color: #cf3477;
  vertical-align: middle; }
  a.link-details:hover {
    opacity: 0.7;
    text-decoration: none; }
  a.link-details i {
    margin-top: -3px;
    margin-left: 3px;
    font-size: 24px;
    vertical-align: middle; }

.disclosure {
  margin-bottom: 62px; }
  .disclosure .box-title {
    color: #222426; }
  .disclosure .content {
    margin-bottom: 32px;
    font: 16px/30px "Lato", Arial, sans-serif; }
  .disclosure a.link-details {
    margin-top: 1px; }

.magento-style .box-title {
  color: #cf3477; }

.section-offers {
  padding-top: 160px;
  padding-bottom: 230px; }
  .section-offers .content {
    font: 16px/30px "Lato", Arial, sans-serif; }

.section-description {
  max-width: 910px;
  margin-top: 25px;
  margin-bottom: 50px; }

.section-compensation {
  padding-top: 160px;
  padding-bottom: 150px; }
  .section-compensation .content {
    max-width: 910px; }
  .section-compensation .section-table-wrap {
    margin-top: 90px; }

.change {
  display: block;
  margin-top: 22px; }

.compensation-table {
  min-width: 100%;
  margin: 30px -25px 0;
  border-collapse: separate;
  border-spacing: 25px;
  color: #ffffff; }
  .compensation-table thead tr th {
    padding-bottom: 24px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff; }
  .compensation-table tbody tr td span {
    display: inline-block;
    text-align: right; }
  .compensation-table tbody tr:first-child td {
    padding-top: 12px; }
  .compensation-table td, .compensation-table th {
    vertical-align: top; }

.section-why-we.admissions {
  padding-bottom: 170px; }

.admissions .section-title {
  margin-bottom: 52px; }
.admissions .box-title {
  margin-bottom: 32px; }

.two-coll-list > ul {
  -webkit-columns: 500px 2;
  -moz-columns: 500px 2;
  columns: 500px 2;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  text-align: left; }

.rate-list > li {
  margin-bottom: 10px; }
  .rate-list > li:last-child {
    margin-bottom: 0; }
  .rate-list > li span {
    margin-right: 20px;
    top: 3px; }

.rate {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #cf3477; }

.rate-bar-list {
  margin: 70px -35px -70px;
  text-align: center; }
  .rate-bar-list > li {
    display: inline-block;
    padding: 0 35px 70px; }

.rate-big {
  overflow: hidden;
  position: relative;
  display: block;
  width: 174px;
  height: 174px;
  border: 1px solid #969dac;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .rate-big:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(#969dac, transparent 1px);
    background-size: 6px 6px;
    background-position: center center;
    transform: rotate(-45deg); }
  .rate-big:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .rate-big .count-wrap {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff; }

.rate-big .rate-range {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  transform: scale(0);
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s ease;
  -o-transition: 1.5s ease;
  transition: 1.5s ease; }

.section-services {
  padding-bottom: 60px; }

.services-description {
  margin-bottom: 122px;
  padding-bottom: 125px;
  border-bottom: 1px solid #969dac; }
  .services-description .content {
    max-width: 840px;
    margin-top: 20px;
    color: #3b4880; }

.services-title {
  margin-bottom: 36px;
  font: 40px/52px "Lato", Arial, sans-serif;
  line-height: 1;
  letter-spacing: 0.25em;
  color: #3b4880;
  text-transform: uppercase; }

.services-list {
  margin-top: 68px;
  margin-bottom: 75px;
  -webkit-columns: 440px 2;
  -moz-columns: 440px 2;
  columns: 440px 2;
  -webkit-column-gap: 150px;
  -moz-column-gap: 150px;
  column-gap: 150px;
  text-align: left; }
  .services-list > li {
    width: 100%;
    vertical-align: top;
    padding-top: 18px;
    padding-bottom: 25px;
    border-top: 1px solid #969dac;
    display: inline-block; }

.services-box {
  margin-bottom: 18px; }
  .services-box .content {
    padding-right: 40px;
    clear: both; }

.services-right-box {
  float: right;
  max-width: 40%;
  padding-left: 10px;
  text-align: right; }

.services-left-box {
  overflow: hidden; }

.services-box-title {
  overflow: hidden;
  font: 16px/24px "Myriad Pro", Arial, sans-serif;
  margin-bottom: 10px; }

.section-courses {
  padding-bottom: 240px; }

.banner-link-list {
  margin-top: 20px; }
  .banner-link-list > li {
    position: relative;
    display: inline-block;
    padding-right: 30px; }
    .banner-link-list > li:last-child {
      padding-right: 0; }
      .banner-link-list > li:last-child:after {
        content: none; }
    .banner-link-list > li:after {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      right: 14px;
      top: 50%;
      margin-top: -2px;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background-color: #ffffff; }
    .banner-link-list > li a {
      margin-bottom: 20px;
      font: 16px/24px "Lato", Arial, sans-serif;
      color: #ffffff;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
      .banner-link-list > li a:hover {
        opacity: 0.7;
        text-decoration: none; }

.courses-list > li {
  padding-bottom: 120px;
  margin-bottom: 108px;
  border-bottom: 1px solid #969dac; }
  .courses-list > li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none; }

.courses-short-info {
  margin-bottom: 66px;
  padding-bottom: 70px;
  border-bottom: 1px solid #969dac; }
  .courses-short-info .box-title {
    margin-bottom: 30px;
    color: #3b4880; }

.course-title {
  margin-bottom: 16px;
  font: 40px/52px "Lato", Arial, sans-serif;
  color: #3b4880;
  text-transform: uppercase;
  letter-spacing: 0.25em; }

.hour-list {
  overflow: hidden;
  margin-top: 56px;
  margin-bottom: 42px; }
  .hour-list > li {
    display: inline-block;
    vertical-align: top;
    width: 32.33333%;
    padding-right: 20px;
    margin-bottom: 40px; }
  .hour-list .box-title {
    margin-bottom: 10px; }
  .hour-list .content {
    font: 16px/30px "Lato", Arial, sans-serif; }

.curriculum-list {
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 45px; }
  .curriculum-list .content {
    font: 16px/30px "Lato", Arial, sans-serif; }
    .curriculum-list .content a {
      color: #969dac; }
  .curriculum-list > li {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding-right: 72px;
    margin-bottom: 40px; }

.overview-bottom-box {
  margin-bottom: -40px; }

.table-box,
.table-overview {
  overflow: hidden;
  width: 50%;
  margin-bottom: 40px; }

.table-box {
  padding-right: 25px;
  color: #ffffff; }
  .table-box table {
    margin: 0 auto; }
    .table-box table tbody tr td {
      width: 200px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 12px; }
      .table-box table tbody tr td:last-child {
        width: 160px; }
    .table-box table tbody tr:last-child td {
      padding-bottom: 17px; }
    .table-box table tfoot {
      border-top: 1px solid #ffffff; }
      .table-box table tfoot tr td {
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 12px; }
        .table-box table tfoot tr td:last-child {
          width: 160px; }
      .table-box table tfoot tr:last-child td {
        padding-bottom: 17px; }

.table-wrap {
  padding: 46px 0 46px;
  background-color: #cf3477; }

.table-overview {
  float: right;
  padding-left: 25px; }
  .table-overview .content {
    font: 16px/30px "Lato", Arial, sans-serif; }

.table-pink-style {
  background-color: #ff7f86; }

.table-red-style {
  background-color: #cf3477; }

.table-blue-style {
  background-color: #16365a; }

.table-blue-light-style {
  background-color: #0087a0; }

.post-info {
  margin-top: 28px;
  font: 20px/34px "Lato", Arial, sans-serif;
  color: #ffffff; }
  .post-info a {
    color: #ffffff; }
    .post-info a:hover {
      opacity: 0.7;
      text-decoration: none; }

.page-template-page-blog .section-post {
  padding-bottom: 80px; }
.section-post .content {
  max-width: 940px;
  margin: 0 auto;
  font: 16px/30px "Lato", Arial, sans-serif; }

.section-last-posts {
  padding-top: 75px;
  padding-bottom: 150px; }
  .section-last-posts .section-title {
    margin-bottom: 55px;
    padding-bottom: 16px;
    border-bottom: 1px solid #969dac; }

.post-list {
  height: 2000px;
  position: relative;
  margin: 24px 0 0 0; }
  .post-list > li {
    position: absolute;
    overflow: hidden; }
    .post-list > li > a {
      cursor: pointer; }
      .post-list > li > a:hover {
        text-decoration: none; }
    .post-list > li:hover .zoom {
      transform: scale(1.2);
      -webkit-transform: scale(1.2); }

.zoom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  background-color: #3b4880;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.list-item {
  position: relative;
  display: table;
  padding: 20px 40px 50px;
  width: 100%;
  height: 100%;
  color: #ffffff; }
  .list-item:after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35); }
  .list-item .post-info {
    margin-top: 9px; }

.list-item-box {
  position: relative;
  z-index: 3;
  display: table-cell;
  min-height: 50px;
  vertical-align: bottom; }

.post-title {
  font: 30px/44px "Lato", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.load-more {
  margin-top: 30px;
  text-align: center; }

/*import media styles */
/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1199px) {
  .main-nav > ul > li {
    margin: 0 6px; } }
@media all and (max-width: 1024px) {
  .vertical-align .container {
    min-height: 440px; }

  .wrapper {
    padding-top: 75px; }

  .header-btn-box {
    display: none; }

  .desktop {
    display: none !important; }

  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block; }

  .mobile-menu-wrap .header-btn-box {
    display: block;
    margin: 0 25px 35px;
    float: none; }

  .header {
    min-height: 75px;
    padding-top: 21px;
    padding-bottom: 21px; }

  .logo {
    max-width: 95px;
    margin-top: 3px; }

  .custom-menu-box {
    display: none; }

  .banner-title {
    font: 32px/42px "Lato", Arial, sans-serif; }

  .section-title {
    margin-bottom: 20px;
    font: 24px/34px "Lato", Arial, sans-serif; }

  .form-box-title {
    font: 22px/32px "Lato", Arial, sans-serif; }

  .content {
    font: 16px/30px "Lato", Arial, sans-serif; }
    .footer-block .content, .form-block .content, .section-why-we.sm-body-text .content {
      font: 14px/26px "Lato", Arial, sans-serif; }

  .input-style,
  textarea.input-style {
    font: 14px/26px "Lato", Arial, sans-serif; }

  .section {
    padding-top: 42px;
    padding-bottom: 42px; }

  .section-cosmo-is .section-title {
    margin-bottom: 27px; }
  .section-cosmo-is .container {
    min-height: 550px; }

  .section-testimonial {
    padding-top: 122px;
    padding-bottom: 92px; }

  .section-cosmo-courses {
    padding-bottom: 85px; }
    .section-cosmo-courses .btn-big {
      margin-top: 37px; }

  .section-more-info {
    padding-top: 107px;
    padding-bottom: 156px; }

  .section-connect {
    padding-top: 74px;
    padding-bottom: 95px; }
    .section-connect .content {
      margin-bottom: 30px; }

  .footer {
    padding: 50px 0 45px; }

  .coll-2,
  .coll-4,
  .coll-3,
  .coll-6,
  .coll-8 {
    width: 100%;
    margin: 0; }

  .right .footer-social {
    padding-top: 22px;
    margin-bottom: 24px; }

  .copyright {
    margin-bottom: 22px; }
    .copyright a {
      display: block;
      margin-top: 5px; }

  .filed-name {
    position: initial;
    margin-bottom: 14px;
    color: #969dac; }
    .name-list .filed-name {
      margin-bottom: 0; }

  .name-list > li:first-child {
    margin-top: 7px; }

  .section-page-banner .container {
    padding-bottom: 34px;
    padding-top: 24px; }

  .section-why-we {
    padding-bottom: 70px; }
    .section-why-we .content {
      padding-bottom: 70px;
      margin-bottom: 70px; }

  .section-accreditations {
    padding-top: 92px;
    padding-bottom: 114px; }

  .section-program-disclosure {
    padding-top: 76px;
    padding-bottom: 10px; }
    .section-program-disclosure .container > .content {
      margin-bottom: 34px; }

  .disclosure-right {
    padding-left: 0; }

  .disclosure .content {
    margin-bottom: 12px;
    font: 14px/26px "Lato", Arial, sans-serif; }
  .disclosure .box-title {
    margin-bottom: 5px; }

  .section-table-wrap {
    display: none; }

  .section-why-we .section-description .content,
  .services-description .content,
  .section-description .content {
    font-size: 17px;
    line-height: 26px; }

  .section-why-we.admissions {
    padding-bottom: 70px; }

  .services-title {
    font: 32px/42px "Lato", Arial, sans-serif; }

  .services-box-title {
    font-size: 14px;
    line-height: 26px; }

  .section-services {
    padding-bottom: 16px; }

  .services-box .content {
    font-size: 12px;
    line-height: 22px; }

  .services-description {
    max-width: 840px;
    margin-bottom: 60px;
    padding-bottom: 40px; }

  .services-list {
    margin-top: 0;
    margin-bottom: 30px; }

  .rate-bar-list {
    margin-left: -25px;
    margin-right: -25px;
    padding-bottom: 15px; }
    .rate-bar-list > li {
      padding-left: 25px;
      padding-right: 25px; }

  .admissions .section-title {
    margin-bottom: 20px; }

  .courses-short-info {
    margin-bottom: 40px;
    padding-bottom: 40px; }

  .course-title {
    margin-bottom: 2px;
    font-size: 26px;
    line-height: 36px; }

  .section-courses {
    padding-top: 90px;
    padding-bottom: 90px; }
    .section-courses .box-title {
      font: 16px/24px "Lato", Arial, sans-serif; }
    .section-courses .section-title {
      margin-bottom: 10px;
      font: 22px/32px "Lato", Arial, sans-serif; }

  .table-overview .content,
  .curriculum-list .content,
  .hour-list .content {
    font: 14px/26px "Lato", Arial, sans-serif; }

  .hour-list {
    margin-top: 34px;
    margin-bottom: 22px; }
    .hour-list > li {
      width: 100%;
      margin-bottom: 15px; }
      .hour-list > li .box-title {
        display: none;
        margin-bottom: 20px; }
      .hour-list > li:first-child .box-title {
        display: block; }
    .hour-list .content em {
      color: #0087a0; }

  .curriculum-list {
    margin-top: -4px;
    margin-bottom: 10px;
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    text-align: left; }
    .curriculum-list > li {
      width: 100%;
      margin-bottom: 0; }

  .table-box,
  .table-overview {
    float: none;
    width: 100%;
    padding: 0; }

  .courses-list > li {
    padding-bottom: 50px;
    margin-bottom: 44px; }

  .section-post, .page-template-page-blog .section-post {
    padding-bottom: 70px; }
  .section-post .content {
    font: 14px/26px "Lato", Arial, sans-serif; }

  .section-last-posts {
    padding-bottom: 76px; }

  .post-title {
    font: 24px/34px "Lato", Arial, sans-serif; }

  .post-info {
    font: 16px/24px "Lato", Arial, sans-serif; }

  .close-modal {
    margin-top: 3px;
    margin-right: 0; }

  .modal-header {
    min-height: 75px;
    padding-top: 21px;
    padding-bottom: 21px; }

  .load-more {
    margin-bottom: 20px; } }
@media all and (max-width: 782px) {
  .admin-bar .header {
    top: 46px; }
  .admin-bar .mobile-menu-wrap {
    top: 122px; } }
@media all and (max-width: 640px) {
  .table-box table tbody tr td {
    width: 140px; }
    .table-box table tbody tr td:last-child {
      width: 100px; }

  .table-box table tfoot tr td {
    width: 140px; }
    .table-box table tfoot tr td:last-child {
      width: 100px; }

  .list-item {
    padding: 10px; } }
@media all and (max-width: 600px) {
  .admin-bar .header.scrolling {
    top: 0; }
    .admin-bar .header.scrolling .mobile-menu-wrap {
      top: 76px; } }
@media all and (max-width: 560px) {
  .interested .check-list > li,
  .interested .check-list > .wpcf7-list-item {
    width: 100%; } }
@media all and (max-width: 480px) {
  .wrap-404 {
    padding: 0 0 10px;
    font-size: 45px; }
    .wrap-404 .error-404 {
      margin-bottom: -18px;
      font-size: 140px; } }

/*# sourceMappingURL=screen.css.map */
