a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 11px 16px 9px;
  font-size: 10px;
  letter-spacing: 2px;
  color: $color-2;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $color-2;
  background-color: $color-0;
  &:hover {
    color: $color-0;
    background-color: $color-2;
  }
}
a.btn-big, .btn-big {
  font-size: 0.8em;
  padding: 13px 30px 13px;
  border-width: 2px;
}
a.btn-banner, .btn-banner {
  padding: 13px 30px 13px;
  font-size: 0.8em;
  color: $color-0;
  letter-spacing: 4px;
  border-width: 2px;
  border-color: $color-0;
  background-color: transparent;
  &:hover {
    color: $color-2;
    background-color: $color-0;
  }
}