.input-style {
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid $color-7;
  box-shadow: none;
  font: $font-sm-body;
  letter-spacing: $letter-spacing-20;
  color: $color-8;
  padding: 5px 12px;
  background-color: transparent;
  @include transition($transition-other);
  &:hover,
  &:active,
  &:focus {
    border-color: $color-8;
  }
  .inverse & {
    color: $color-0;
    border-color: $color-0;
  }
  &.wpcf7-not-valid,
  &.error {
    border-color: #ff0000;
  }
}
.input-style.error + .error {
  position: absolute;
  left: 0;
  width: 280px;
  color: #ff0000;
  line-height: 1.2;
}
span.wpcf7-not-valid-tip,
.input-style.error + .error {
  font-size: 0.9em;
}
.wpcf7-form #email-error {
  display: none !important;
}
div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  text-align: center;
  color: #222426;
  .inverse & {
    color: $color-0;
  }
}
.search-style {
  max-width: 265px;
  padding-left: 45px;
  &:active,
  &:focus {
    max-width: 100%;
  }

}
.search-box {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  .icon {
    position: absolute;
    height: 40px;
    width: 45px;
    top: 50%;
    margin-left: 1px;
    margin-top: -20px;
    z-index: 1;
    color: $color-5;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    &:hover {
      color: $color-2;
    }
  }
  .fa-search {
    font-size: 26px;
  }
}

input[type=button], input[type=submit], button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.input-style,
input.TextField {
  height: 32px;
  line-height: 32px;
}
input.search-style {
  height: 42px;
  line-height: 42px;
}
textarea.input-style {
  font: $font-sm-body;
  line-height: 26px;
  letter-spacing: $letter-spacing-20;
  padding: 5px 12px;
  width: 100%;
  min-height: 200px;
  resize: none;
  border: 1px solid $color-7;
  color: $color-8;
  .inverse & {
    color: $color-0;
    border-color: $color-0;
  }
}
input::-webkit-input-placeholder {
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
input::-moz-placeholder {
  color: $color-placeholder;
  @include transition($transition-other);
}
input:-ms-input-placeholder {
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
input:-moz-placeholder {
  color: $color-placeholder;
  @include transition($transition-other);
}
textarea::-webkit-input-placeholder {
  font-family: $font-main;
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
textarea::-moz-placeholder {
  font-family: $font-main;
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
textarea:-ms-input-placeholder {
  font-family: $font-main;
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
textarea:-moz-placeholder {
  font-family: $font-main;
  color: $color-placeholder;
  @include transition($transition-other);
  .inverse & {
    color: $color-placeholder-inv;
  }
}
.check-style,
.radio-style,
.wpcf7-checkbox.check-list,
.wpcf7-radio.check-list {
  input[type=radio],
  input[type=checkbox] {
    display: none;
  }
}
.check-style span,
.radio-style span,
.wpcf7-checkbox.check-list .wpcf7-list-item-label,
.wpcf7-radio.check-list .wpcf7-list-item-label {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  line-height: 1.3;
  .inverse & {
    color: $color-0;
  }
}
.check-style span:before,
.wpcf7-checkbox.check-list .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-7;
  cursor: pointer;
  color: $color-8;
  font: normal normal normal 15px/16px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: #ffffff;
  .inverse & {
    color: $color-0;
    border-color: $color-0;
    background-color: transparent;
  }
}
.check-style input[type=checkbox]:checked + span:after,
.wpcf7-checkbox.check-list input[type=checkbox]:checked + .wpcf7-list-item-label:after {
  position: absolute;
  font-family: $font-main;
  content: "\2715";
  font-size: 23px;
  line-height: 15px;
  left: 0;
  top: 2px;
}
.radio-style span:before,
.wpcf7-radio.check-list .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid $color-7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  color: $color-8;
  font: normal normal normal 14px/16px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: #ffffff;
  letter-spacing: 1px;
  .inverse & {
    color: $color-0;
    border-color: $color-0;
    background-color: transparent;
  }
}
.radio-style input[type=radio]:checked + span:after,
.wpcf7-radio.check-list input[type=radio]:checked + .wpcf7-list-item-label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: $color-8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  .inverse & {
    color: $color-0;
    background-color: $color-0;
  }
}
