.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 22px;
  background-color: $bg-header;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
  }
}
    .logo {
      float: left;
      max-width: 135px;
      @include transition($transition-other);
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .mobile-menu-wrap,
    .mobile-menu-toggle {
      display: none;
    }
    .mobile-menu-wrap {
      position: fixed;
      z-index: 99999;
      right: 0;
      height: 0;
      width: 0;
      top: 75px;
      -webkit-transition-delay: 0.35s;
      -moz-transition-delay: 0.35s;
      -o-transition-delay: 0.35s;
      transition-delay: 0.35s;
      &.showing {
        height: 100%;
        width: 100%;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
    .mobile-menu-overlay {
      position: absolute;
      z-index: 1;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.25);
      opacity: 0;
      -webkit-transition: opacity 0.35s;
      -moz-transition: opacity 0.35s;
      -o-transition: opacity 0.35s;
      transition: opacity 0.35s;
      .showing & {
        opacity: 1;
      }
    }
    .mobile-menu-box {
      position: absolute;
      width: 100%;
      height: 100%;
      right: -100%;
      z-index: 2;
      background-color: $color-0;
      -webkit-transition: right 0.35s;
      -moz-transition: right 0.35s;
      -o-transition: right 0.35s;
      transition: right 0.35s;
      overflow: auto;
      -webkit-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
      -moz-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
      -o-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
      box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
      .showing & {
        right: 0;
      }
    }

    .mobile-menu-toggle {
      position: absolute;
      right: 0;
      top: -20px;
      height: 75px;
      width: 75px;
      vertical-align: middle;
      cursor: pointer;
      font-size: 26px;
      span:before,
      span:after,
      span {
        position: absolute;
        display: block;
        content: '';
        cursor: pointer;
        height: 1px;
        width: 30px;
        background-color: $color-9;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
      }
      span {
        z-index: 999999;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      span:before {
        top: -9px;
      }
      span:after {
        bottom: -9px;
      }
      &.active span {
        background-color: transparent;
      }
      &.active span:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
      &.active span:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
.custom-menu-box {
  display: inline-block;
  position: absolute;
  z-index: 9;
  right: 25px;
  top: 90px;
}
.custom-mob-menu-box {
  padding: 0 25px;
}
.language-box {
  margin-top: 3px;
  display: inline-block;
  .custom-mob-menu-box & {
    display: inline-block;
    margin-bottom: 40px;
  }
  &:hover .language-list {
    display: block;
  }
  &:hover .language-box-title:after {
    background-color: rgba(255, 255, 255, 0.7);
    .custom-mob-menu-box & {
      background-color: rgba(34, 36, 38, 0.7);
    }
  }

}
  .language-box-title {
    position: relative;
    padding-bottom: 5px;
    font: 12px $font-main;
    color: $color-0;
    letter-spacing: $letter-spacing-200;
    text-transform: uppercase;
    cursor: default;
    .custom-mob-menu-box & {
      color: $color-9;
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0);
      @include transition($transition-other);
      .custom-mob-menu-box & {
        background-color: rgba(34, 36, 38, 0);
      }
    }
  }
  .language-list {
    display: none;
    margin-top: 7px;
    @include transition($transition-other);
    > li {
      > a {
        font: 10px $font-main;
        color: $color-0;
        letter-spacing: $letter-spacing-200;
        text-transform: uppercase;
        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
        .custom-mob-menu-box & {
          color: $color-9;
        }
      }
    }
  }
.social-list {
  float: right;
  display: inline-block;
  margin-bottom: 46px;
  margin-left: 40px;
  .custom-mob-menu-box & {
    float: none;
    display: block;
    margin-left: 0;
  }
  > li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 16px;
    text-align: center;
    @include border-radius(50%);
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    .custom-mob-menu-box & {
      border-color: $color-9;
    }
    &:hover {
      opacity: 0.7;
      i {
        opacity: 0.7;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
  i {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    @include transition($transition-link);
    .custom-mob-menu-box & {
      color:  $color-9;
    }
    .fa-facebook {
      font-size: 14px;
    }
  }
}