/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1199px) {
  .main-nav > ul {
    > li {
      margin: 0 6px;
    }
  }
}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {
  .vertical-align .container {
      min-height: 440px;
  }
  .section-description {
    .content {
      font-size: 17px;
      line-height: 26px;
    }
  }
  .wrapper {
    padding-top: 75px;
  }
  .header-btn-box {
    display: none;
  }
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  .mobile-menu-wrap {
    .header-btn-box {
      display: block;
      margin: 0 25px 35px;
      float: none;
    }
  }
  .header{
    min-height: 75px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .logo {
    max-width: 95px;
    margin-top: 3px;
  }
  .custom-menu-box {
    display: none;
  }
  .banner-title {
    font: $m-font-h1;
  }
  .section-title {
    margin-bottom: 20px;
    font: $m-font-h2;
  }
  .form-box-title {
    font: $m-font-h3;
  }
  .content {
    font: $m-font-lrg-body;
    .footer-block &,
    .form-block &,
    .sm-body-text & {
      font: $m-font-sm-body !important;
    }
  }
  .input-style,
  textarea.input-style {
    font: $m-font-sm-body;
  }
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  //.swiper-container {
  //  .container-box {
  //    padding-left: 0;
  //  }
  //}
  .section-cosmo-is {
    .section-title {
      margin-bottom: 27px;
    }
    .container {
      min-height: 550px;
    }
  }
  .section-testimonial {
    padding-top: 122px;
    padding-bottom: 92px;
  }
  .section-cosmo-courses {
    padding-bottom: 85px;
    .btn-big {
      margin-top: 37px;
    }
  }
  .section-more-info {
    padding-top: 107px;
    padding-bottom: 156px;
  }
  .section-connect {
    padding-top: 74px;
    padding-bottom: 95px;
    .content {
      margin-bottom: 30px;
    }
  }
  .footer {
    padding: 50px 0 45px;
  }
  .coll-2,
  .coll-4,
  .coll-3,
  .coll-6,
  .coll-8 {
    width: 100%;
    margin: 0;
  }
  .right {
    .footer-social {
      padding-top: 22px;
      margin-bottom: 24px;
    }
  }
  .copyright {
    margin-bottom: 22px;
    a {
      display: block;
      margin-top: 5px;
    }
  }
  .filed-name {
    position: initial;
    margin-bottom: 14px;
    color: $color-7;
    .name-list & {
      margin-bottom: 0;
    }
  }
  .name-list {
    > li {
      &:first-child {
        margin-top: 7px;
      }
    }
  }
  .section-page-banner {
    .container {
      padding-bottom: 34px;
      padding-top: 24px;
    }
  }
  .section-why-we {
    padding-bottom: 70px;
    .content {
      padding-bottom: 70px;
      margin-bottom: 70px;
    }
  }
  .section-accreditations {
    padding-top: 92px;
    padding-bottom: 114px;
  }
  .section-program-disclosure {
    padding-top: 76px;
    padding-bottom: 10px;
    .container {
      > .content {
        margin-bottom: 34px;
      }
    }
  }
  .disclosure-right {
    padding-left: 0;
  }
  .disclosure {
    .content {
      margin-bottom: 12px;
      font: $m-font-sm-body;
    }
    .box-title {
      margin-bottom: 5px;
    }
  }
  .section-table-wrap {
    display: none;
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {

}

@media all and (max-width: 782px) {
  .admin-bar .header {
    top: 46px;
  }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {

}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {

}

@media all and (max-width: 600px) {
  .admin-bar .header {
    top: 0;
  }
}

@media all and (max-width: 560px) {
  .interested {
    .check-list {
      > li {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 480px) {

}

@media all and (max-width: 420px) {

}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}