/*fonts*/
$font-main: 'Lato', Arial, sans-serif;

/*colors*/
$color-0: #ffffff;
$color-1: #ff7f86;
$color-2: #cf3477;
$color-3: #3b4880;
$color-4: #16365a;
$color-5: #0087a0;
$color-6: #dce5eb;
$color-7: #969dac;
$color-8: #808691;
$color-9: #222426;

/*backgrounds*/
$bg-main: $color-0;
$bg-header: #fff;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;







